In [69]:
# Load in Pandas 
import pandas as pd

In [101]:
#Load in Data
school_path ="../Resources/schools_complete.csv"
student_path = "../Resources/students_complete.csv"

#read in schoolas as csv:
school_df = pd.read_csv(school_path)
student_df = pd.read_csv(student_path)


print(student_df)

       Student ID       student_name gender grade         school_name  \
0               0       Paul Bradley      M   9th   Huang High School
1               1       Victor Smith      M  12th   Huang High School
2               2    Kevin Rodriguez      M  12th   Huang High School
3               3  Dr. Richard Scott      M  12th   Huang High School
4               4         Bonnie Ray      F   9th   Huang High School
...           ...                ...    ...   ...                 ...
39165       39165       Donna Howard      F  12th  Thomas High School
39166       39166          Dawn Bell      F  10th  Thomas High School
39167       39167     Rebecca Tanner      F   9th  Thomas High School
39168       39168       Desiree Kidd      F  10th  Thomas High School
39169       39169    Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score
0                 66          79
1                 94          61
2                 90          60
3                 67          58
4                 97          84
...              ...         ...
39165             99          90
39166             95          70
39167             73          84
39168             99          90
39169             95          75

[39170 rows x 7 columns]

In [71]:
#District Summary

#Total number of unique schools
schools_in_survery = pd.unique(school_df["school_name"])

len(schools_in_survery)

15

In [72]:
#Total students 
student_count = student_df["Student ID"].count()
student_count

39170

In [73]:
#Total School Budget
school_budget = school_df["budget"].sum()
print(f"${school_budget}")

$24649428

In [74]:
#Average Math score
avg_math = student_df["math_score"].mean()
avg_math

78.98537145774827

In [75]:
avg_reading = student_df["reading_score"].mean()

In [76]:
#Passing Math
passing_math_count = student_df[(student_df["math_score"] >= 70 )].count()["student_name"]
passing_math_percentage =(passing_math_count/ float(student_count))*100
passing_math_percentage

74.9808526933878

In [77]:
#Passing Reading 
passing_reading_count = student_df[(student_df["reading_score"] >= 70 )].count()["student_name"]
passing_reading_percent =( passing_reading_count / float(student_count)) *100 
passing_reading_percent

85.80546336482001

In [78]:
#Reading and Math:
passing_math_reading_count = student_df[
    (student_df["math_score"] >= 70) & (student_df["reading_score"] >= 70)
    ].count()["student_name"]

total_passing_rate = passing_math_reading_count / float(student_count)*100
total_passing_rate

65.17232575950983

In [79]:
#Calculate Schooltypes
school_types = school_df.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [80]:
#Calculate the total students
per_school = student_df[["school_name", "Student ID"]].groupby('school_name').count()
per_school

                       Student ID
school_name
Bailey High School           4976
Cabrera High School          1858
Figueroa High School         2949
Ford High School             2739
Griffin High School          1468
Hernandez High School        4635
Holden High School            427
Huang High School            2917
Johnson High School          4761
Pena High School              962
Rodriguez High School        3999
Shelton High School          1761
Thomas High School           1635
Wilson High School           2283
Wright High School           1800

In [81]:
#total school budget
per_school_budget = school_df.groupby(["school_name"]).sum()["budget"]
per_school_budget 

#per capita spending
per_school_capita = per_school_budget / per_school["Student ID"]
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [84]:
per_school_reading = per_school_math = student_df.groupby(["school_name"]).mean()['reading_score']
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [123]:
#Filter for read > 70
passing_reading = student_df[
    (student_df["reading_score"] >= 70)
]

#filter for math >70
passing_math = student_df[
    (student_df["math_score"] >= 70)
]

#filter for overall >70
passing_math_and_reading = student_df[
    (student_df["reading_score"] >= 70) & (student_df["math_score"] >= 70)
]

#groupby for reading 
passing_reading_school = passing_reading.groupby('school_name').count()['student_name']

#groupby for math
passing_math_school = passing_math.groupby('school_name').count()['student_name']

#groupby for overall
passing_math_and_reading = passing_math_and_reading.groupby('school_name').count()['student_name']


passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: student_name, dtype: int64

In [86]:
# % that passed math
per_school_passing_math = (passing_math.groupby(["school_name"]).count()["student_name"]) / (per_school["Student ID"]) * 100
per_school_passing_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [125]:
# % that passed reading
per_school_passing_reading = (passing_reading.groupby(["school_name"]).count()["student_name"]) / (per_school["Student ID"]) * 100
per_school_passing_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [127]:
#Get Help on error

per_school_passing_overall = (passing_math_and_reading.groupby(["school_name"]).count()["student_name"])/ (per_school["Student ID"] * 100)
per_school_passing_overall

KeyError: 'student_name'

In [92]:
#Creating a data Frame:

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: student_name, dtype: int64

In [120]:
# Use the code provided to separate the data by grade
ninth_graders = student_df[(student_df["grade"] == "9th")]
tenth_graders = student_df[(student_df["grade"] == "10th")]
eleventh_graders = student_df[(student_df["grade"] == "11th")]
twelfth_graders = student_df[(student_df["grade"] == "12th")]

ninth_graders_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_graders_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_graders_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_grader_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]


#Combine into a single dataframe (Math Scores)

math_scores_by_grade = pd.DataFrame({"Avg. 9th Grade Math Score" : ninth_graders_math_scores, 
                                     "Avg. 10th Grade Math Score" : tenth_graders_math_scores,
                                     "Avg. 11th Grade Math Score" : eleventh_graders_math_scores,
                                     "Avg. 12th Grade Math Score" : twelfth_grader_math_scores})

math_scores_by_grade

,Avg. 9th Grade Math Score,Avg. 10th Grade Math Score,Avg. 11th Grade Math Score,Avg. 12th Grade Math Score
school_name,,,,
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

In [121]:
#Code for avg. reading scores by grade
ninth_graders_read_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_graders_read_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_graders_read_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_grader_read_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

#Combine into a single dataframe (Reading Scores)
reading_scores_by_grade = pd.DataFrame({"Avg. 9th Grade Reading Score" : ninth_graders_read_scores, 
                                     "Avg. 10th Grade Reading Score" : tenth_graders_read_scores,
                                     "Avg. 11th Grade Reading Score" : eleventh_graders_read_scores,
                                     "Avg. 12th Grade Reading Score" : twelfth_grader_read_scores})

reading_scores_by_grade

,Avg. 9th Grade Reading Score,Avg. 10th Grade Reading Score,Avg. 11th Grade Reading Score,Avg. 12th Grade Reading Score
school_name,,,,
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

In [122]:
#Establish Bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]