In [3]:
# Load in Pandas 
import pandas as pd

In [25]:
#Load in Data
school_path ="../Resources/schools_complete.csv"
student_path = "../Resources/students_complete.csv"

#read in schoolas as csv:
school_df = pd.read_csv(school_path)
student_df = pd.read_csv(student_path)


print(school)

       Student ID       student_name gender grade         school_name  \
0               0       Paul Bradley      M   9th   Huang High School
1               1       Victor Smith      M  12th   Huang High School
2               2    Kevin Rodriguez      M  12th   Huang High School
3               3  Dr. Richard Scott      M  12th   Huang High School
4               4         Bonnie Ray      F   9th   Huang High School
...           ...                ...    ...   ...                 ...
39165       39165       Donna Howard      F  12th  Thomas High School
39166       39166          Dawn Bell      F  10th  Thomas High School
39167       39167     Rebecca Tanner      F   9th  Thomas High School
39168       39168       Desiree Kidd      F  10th  Thomas High School
39169       39169    Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score
0                 66          79
1                 94          61
2                 90          60
3                 67          58
4                 97          84
...              ...         ...
39165             99          90
39166             95          70
39167             73          84
39168             99          90
39169             95          75

[39170 rows x 7 columns]

In [23]:
#District Summary

#Total number of unique schools
schools_in_survery = pd.unique(school_df["school_name"])

len(schools_in_survery)

15

In [6]:
#Total students 
student_count = student_df["Student ID"].count()
student_count

39170

In [7]:
#Total School Budget
school_budget = school_df["budget"].sum()
print(f"${school_budget}")

$24649428

In [8]:
#Average Math score
avg_math = student_df["math_score"].mean()
avg_math

78.98537145774827

In [14]:
avg_reading = student_df["reading_score"].mean()

In [37]:
#Passing Math
passing_math_count = student_df[(student_df["math_score"] >= 70 )].count()["student_name"]
passing_math_percentage =(passing_math_count/ float(student_count))*100
passing_math_percentage

74.9808526933878

In [39]:
#Passing Reading 
passing_reading_count = student_df[(student_df["reading_score"] >= 70 )].count()["student_name"]
passing_reading_percent =( passing_reading_count / float(student_count)) *100 
passing_reading_percent

85.80546336482001

In [21]:
#Reading and Math:
passing_math_reading_count = student_df[
    (student_df["math_score"] >= 70) & (student_df["reading_score"] >= 70)
    ].count()["student_name"]

total_passing_rate = passing_math_reading_count / float(student_count)*100
total_passing_rate

65.17232575950983

In [55]:
#Calculate Schooltypes
school_types = school_df.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [83]:
#Calculate the total students
per_school = student_df[["school_name", "Student ID"]].groupby('school_name').count()
per_school

                       Student ID
school_name
Bailey High School           4976
Cabrera High School          1858
Figueroa High School         2949
Ford High School             2739
Griffin High School          1468
Hernandez High School        4635
Holden High School            427
Huang High School            2917
Johnson High School          4761
Pena High School              962
Rodriguez High School        3999
Shelton High School          1761
Thomas High School           1635
Wilson High School           2283
Wright High School           1800

In [90]:
#total school budget
per_school_budget = school_df.groupby(["school_name"]).sum()["budget"]
per_school_budget 

#per capita spending
per_school_capita = per_school_budget / per_school["Student ID"]
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [99]:
per_school_math = student_df.groupby(["school_name"]).mean()['math_score']
#per_school_math.rename(index= {"school_name":"school_name" , "":"Average Math Score"})

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [101]:
per_school_reading = per_school_math = student_df.groupby(["school_name"]).mean()['reading_score']
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [118]:
#passing Math and Reading
passing_reading = student_df[
    (student_df["reading_score"] >= 70)
]

passing_math = student_df[
    (student_df["math_score"] >= 70)
]

passing_reading_school = passing_reading.groupby('school_name').count()['student_name']

passing_math_school = passing_math.groupby('school_name').count()['student_name']
passing_math_school

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

SyntaxError: invalid syntax (2269260611.py, line 1)