In [31]:
# Load in Pandas 
import pandas as pd

In [30]:
#Load in Data
school_path ="../Resources/schools_complete.csv"
student_path = "../Resources/students_complete.csv"

#read in schoolas as csv:
school_df = pd.read_csv(school_path)
student_df = pd.read_csv(student_path)


print(student_df)

       Student ID       student_name gender grade         school_name  \
0               0       Paul Bradley      M   9th   Huang High School
1               1       Victor Smith      M  12th   Huang High School
2               2    Kevin Rodriguez      M  12th   Huang High School
3               3  Dr. Richard Scott      M  12th   Huang High School
4               4         Bonnie Ray      F   9th   Huang High School
...           ...                ...    ...   ...                 ...
39165       39165       Donna Howard      F  12th  Thomas High School
39166       39166          Dawn Bell      F  10th  Thomas High School
39167       39167     Rebecca Tanner      F   9th  Thomas High School
39168       39168       Desiree Kidd      F  10th  Thomas High School
39169       39169    Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score
0                 66          79
1                 94          61
2                 90          60
3                 67          58
4                 97          84
...              ...         ...
39165             99          90
39166             95          70
39167             73          84
39168             99          90
39169             95          75

[39170 rows x 7 columns]

In [22]:
#District Summary

#Total number of unique schools
schools_in_survery = pd.unique(school_df["school_name"])

len(schools_in_survery)

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [25]:
#Total students 
student_count = student_df["Student ID"].count()
student_count

39170

In [29]:
#Total School Budget
school_budget = school_df["budget"].sum()
print(f"${school_budget}")

$24649428

In [33]:
#Average Math score
avg_math = student_df["math_score"].mean()
avg_math

78.98537145774827

In [34]:
avg_reading = student_df["reading_score"].mean()

In [37]:
#Passing Math
passing_math_count = student_df[(student_df["math_score"] >= 70 )].count()["student_name"]
passing_math_percentage =(passing_math_count/ float(student_count))*100
passing_math_percentage

74.9808526933878

In [39]:
#Passing Reading 
passing_reading_count = student_df[(student_df["reading_score"] >= 70 )].count()["student_name"]
passing_reading_percent =( passing_reading_count / float(student_count)) *100 
passing_reading_percent

85.80546336482001